@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #e7f9fa;
}

/* ++++++++++++++++++ NAV ++++++++++++++++ */
nav{
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  background-color: #3CACAE;
  color: #C8F4F9;
  border-bottom: 2px solid #c8f4f9ae;
}
/*   +++++++++++++++++ Game-Board +++++++++++++++ */
.game-board{
  width: 300px;
  margin: 10% auto auto;
}
.game-status{
  line-height: 50px;
  text-align: center;
  font-size: 2rem;
  color: #299ea0;
}

/* ++++++++++++++ BOXES +++++++++++++*/
.boxes-container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0;
}
.box{
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 2em;
  color:#3CACAE;
}
.border-right{
  border-right: 5px solid #3CACAE;
}
.border-bottom{
  border-bottom: 5px solid #3CACAE;
}

/* +++++++++++++++++++ CONTROLERS ++++++++++++++++++++++++++ */
.controlers{
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 90px;
  border-radius: 20px 20px 0 0;
  background-color: bisque;
  text-align: center;
}
.control-btn{
  padding: 8px;
  margin-right: 5px;
}
hr{
  width: 20px;
  height: 4px;
  margin: 5px auto 1em auto;
  background-color: black;
  border: none;
  border-radius: 2px;
}